<>B V (<>B || <>(((((!N && !(((F) && !L) || (!(F) && L))) || (N && (((F) && !L) || (!(F) && L)))) V []N) && !XD) || (XD && !(((!N && !(((F) && !L) || (!(F) && L))) || (N && (((F) && !L) || (!(F) && L)))) V []N))))
